# Virtual Environment
facebookvenv/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyc

# Django
db.sqlite3
media/

# Environment Variables
.env

# Static Build Files
staticfiles/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store


backup.dump

createindex.txt
